<%- include('../../partials/header.ejs') %>
    <main>
        <div class="confirm-page">
            <h2>Sign Up Successfully</h2>
            <a href="/login">Please Login</a>
        </div>
    </main>
    <%- include('../../partials/footer.ejs') %>
        </body>

        </html>